<!-- BEGIN CONTENT BODY -->
<div class="page-content">
    <div class="row">
        <div class="col-md-8 margincontent">
            <!-- BEGIN FORM PORTLET-->
            <section class="portlet box purple portletcustom">
                <!-- Section Title-->
                <article class="portlet-title">
                    <div class="caption font-dark">
                        <span class="caption-subject bold uppercase"> Edit Category </span>
                    </div>
                </article>
                <!-- Section Body begins-->
                <article class="portlet-body form">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <!--edit category form begins -->
                            <form class="Editcategory-form" role="form" ng-submit="vm.editCategory(vm.editCategoryData)" name="editcategoryForm" novalidate>
                                <section class="form-group" ng-class="{'has-error': editcategoryForm.categoryname.$invalid && !editcategoryForm.categoryname.$pristine}">
                                    <label class="control-label col-xs-3">Category Name:
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control input-circle" id="categoryname" name="categoryname" placeholder="Enter A Category Name" style="margin-bottom:10px;" required ng-model="vm.editCategoryData.name" />
                                        <span class="help-block text-danger" ng-if="!editcategoryForm.categoryname.$pristine && editcategoryForm.categoryname.$invalid" ng-messages="editcategoryForm.categoryname.$error" role="alert">Please enter a valid category name </span>
                                    </div>
                                </section>
                                <div class="form-actions rightshift" style="border-top-width:0px;">
                                    <button type="submit" class="btn button-color margin-form-btn" ng-disabled="editcategoryForm.$invalid">Submit</button>
                                    <button type="button" class="btn default margin-form-btn" ui-sref="categoryList">Cancel</button>
                                </div>
                            </form>
                            <!-- edit category form ends-->
                        </div>
                    </div>
                </article>
                <!-- section body ends -->
            </section>
            <!-- END FORM PORTLET -->
        </div>
    </div>
</div>
<!-- END CONTENT BODY -->