
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" style="min-height:785px">
      
      <div class="row">
        <section class="col-md-10 margincontent">
          <!-- BEGIN EXAMPLE TABLE PORTLET-->
          <section class="portlet light bordered portletcustom" style="padding:0;">
            <section class="portlet-title">
              <div class="caption font-dark" style="padding-left:20px;padding-top:15px;"> 
                <span class="caption-subject bold uppercase"> User List</span>
              </div> 
              <div class="col-xs-4" style="margin-top:10px;float:right;">  

                    <div id="sample_1_filter" class="dataTables_filter pull-right" style="">

                      <div class="input-group">
                        <span class="input-group-addon input-circle-left">
                         <i class="fa fa-search"></i>
                       </span>
                       <input type="search" class="form-control input-sm input-medium input-inline input-circle-right" id="search" name="search" placeholder="search here" aria-controls="sample_1"> 
                      </div>

                   </div>
                  </div>
            </section>
            <section class="portlet-body">
              <section class="table-toolbar">
                <div class="row">
                  <div class="col-md-6 col-xs-12">
                    <div class="btn-group" style="padding-left:30px;">
                      <a id="sample_editable_1_new" class="btn sbold green" href="Add_user.html"> Add New User
                        <i class="fa fa-plus"></i>
                      </a>
                    </div>
                  </div>
                 
                </div>
              </section>


              <div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
                
                <div class="table-scrollable">
                  <table class="table table-striped table-bordered table-hover order-column dataTable no-footer" id="sample_1" role="grid" aria-describedby="sample_1_info">
                    <thead>
                      <tr role="row"> 
                        <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label="activate to sort column ascending" style="width:119px;padding-left:15px;"> Name                          
                             
                        </th>                                                    
                        <th class="" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label="activate to sort column ascending" style="width:150px;"> Email </th>
                        <th class="" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="activate to sort column descending" style="width:108px;"> Mobile Number</th>
                        <th class="" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label="activate to sort column ascending" style="width:119px;"> User Group </th>
                        <th class="" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label="activate to sort column ascending" style="width:400px;"> Status </th>
                        <th class="" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label="activate to sort column ascending" style="width:120px;"> Action </th>
                      </tr>
                    </thead>
                    <tbody class="datatablecustom">   
                      <tr class="gradeX odd" role="row">
                        <td> demo user </td>
                        <td>
                          <a href="mailto:">test@tecsol.com</a>
                        </td>
                        <td class=""> +917778889990 </td>
                        <td> Admin </td>
                        <td>
                          <select class="form-control input-circle" id="form_control_1" required>
                            <option value="" disabled selected hidden>select status</option>
                            <option value="3">active</option>
                            <option value="4">suspended</option>
                            <option value="5">Peermanent suspend</option>
                          </select> 
                        </td>
                        <td > 
                          <a type="submit" class="btn button-color-table" style="float:left;" href="Edit_user.html"><i class="fa fa-pencil"></i></a>                 
                        </td>
                      </tr>

                      <tr class="gradeX even" role="row">
                        <td>demo user </td>
                        <td>
                          <a href="mailto:">test@tecsol.com</a>
                        </td>
                        <td class=""> +917778889990 </td>
                        <td> Admin </td>
                        <td>
                          <select class="form-control input-circle" id="form_control_1" required>
                            <option value="" disabled selected hidden>select status</option>
                            <option value="3">active</option>
                            <option value="4">suspended</option>
                            <option value="5">Peermanent suspend</option>
                          </select>                                                                
                        </td>                       
                        <td > 
                          <a type="submit" class="btn button-color-table" style="float:left;" href="Edit_user.html"><i class="fa fa-pencil"></i></a>                 
                        </td>
                      </tr>

                      <tr class="gradeX odd" role="row">
                        <td>demo user </td>
                        <td>
                          <a href="mailto:">test@tecsol.com</a>
                        </td>
                        <td class=""> +917778889990 </td>
                        <td> Admin </td>
                        <td>
                          <select class="form-control input-circle" id="form_control_1" required>
                            <option value="" disabled selected hidden>select status</option>
                            <option value="3">active</option>
                            <option value="4">suspended</option>
                            <option value="5">Peermanent suspend</option>
                          </select>  
                        </td>
                        <td > 
                          <a type="submit" class="btn button-color-table" style="float:left;" href="Edit_user.html"><i class="fa fa-pencil"></i></a>                 
                        </td>
                      </tr>

                      <tr class="gradeX even" role="row">
                        <td>demo user </td>
                        <td>
                          <a href="mailto:">test@tecsol.com</a>
                        </td>
                        <td class=""> +917778889990 </td>
                        <td> Admin </td>
                        <td>
                          <select class="form-control input-circle" id="form_control_1" required>
                            <option value="" disabled selected hidden>select status</option>
                            <option value="3">active</option>
                            <option value="4">suspended</option>
                            <option value="5">Peermanent suspend</option>
                          </select>                                                                 
                        </td>
                        <td > 
                          <a type="submit" class="btn button-color-table" style="float:left;" href="Edit_user.html"><i class="fa fa-pencil"></i></a>                 
                        </td>
                      </tr>
                      
                    </tbody>
                  </table>
                </div>
                <div class="row">
                  
                  <div class="col-md-7 col-sm-7 pull-right">
                    <div class="dataTables_paginate paging_bootstrap_full_number" id="sample_1_paginate">
                      <ul class="pagination" style="visibility: visible;">
                        <li class="prev disabled">
                          <a href="#" title="First"><i class="fa fa-angle-double-left"></i></a>
                        </li>
                        <li class="prev disabled">
                          <a href="#" title="Prev"><i class="fa fa-angle-left"></i></a>
                        </li>
                        <li class="active">
                          <a href="#">1</a></li><li><a href="#">2</a>
                        </li>
                        <li>
                          <a href="#">3</a>
                        </li>
                        <li>
                          <a href="#">4</a>
                        </li>
                        <li>
                          <a href="#">5</a>
                        </li>
                        <li class="next">
                          <a href="#" title="Next"><i class="fa fa-angle-right"></i></a>
                        </li>
                        <li class="next">
                          <a href="#" title="Last"><i class="fa fa-angle-double-right"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </section>
          <!-- END EXAMPLE TABLE PORTLET-->
        </section>
      </div>
      
    </div>
    <!-- END CONTENT BODY -->