<aside class="page-sidebar-wrapper" ng-show="$auth.isAuthenticated()">
    <div class="page-sidebar  navbar-collapse collapse">
        <ul class="page-sidebar-menu  page-header-fixed custompagesidebar" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top:80px; margin-top: 30px;">
            <li class="sidebar-toggler-wrapper hide">
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                <div class="sidebar-toggler"> </div>
                <!-- END SIDEBAR TOGGLER BUTTON -->
            </li>
            <li class="nav-item start marginnav" style="padding-bottom:10px;" ng-show="userGroup.getUserDetails().userGroup == 'Super Admin'">
                <a class="nav-link nav-toggle" ui-sref="userList" ui-sref-active="userList">
                    <i class="fa fa-user"></i>
                    <span class="title">User</span>
                </a>
            </li>
            <li class="nav-item" style="padding-bottom:10px;">
                <a class="nav-link nav-toggle" ui-sref="merchantList" ui-sref-active="merchantList">
                    <i class="fa fa-user"></i>
                    <span class="title">Merchant</span>
                </a>
            </li>
            <li class="nav-item" style="padding-bottom:10px;">
                <a class="nav-link nav-toggle" ui-sref="categoryList" ui-sref-active="categoryList">
                    <i class="fa fa-bars"></i>
                    <span class="title">Category</span>
                </a>
            </li>
            <li class="nav-item" style="padding-bottom:10px;">
                <a class="nav-link nav-toggle" ui-sref="offerList" ui-sref-active="offerList">
                    <i class="fa fa-gift"></i>
                    <span class="title">Offer</span>
                </a>
            </li>
            <li class="nav-item" style="padding-bottom:10px;">
                <a class="nav-link nav-toggle" ui-sref="promocodeList" ui-sref-active="promocodeList">
                    <i class="fa fa-gift"></i>
                    <span class="title">Promocode</span>
                </a>
            </li>
            <li class="nav-item" style="padding-bottom:10px;">
                <a class="nav-link nav-toggle" ui-sref="reports" ui-sref-active="reports">
                    <i class="fa fa-newspaper-o"></i>
                    <span class="title">Report</span>
                </a>
            </li>
            <li class="nav-item" style="padding-bottom:10px;">
                <a class="nav-link nav-toggle" ui-sref="notification" ui-sref-active="notification">
                    <i class="fa fa-bell"></i>
                    <span class="title">Notification</span>
                </a>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</aside>