      <aside class="page-sidebar-wrapper">         
        <div class="page-sidebar  navbar-collapse collapse">
          <ul class="page-sidebar-menu  page-header-fixed custompagesidebar" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top:80px;"> 
            <li class="sidebar-toggler-wrapper hide">
              <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
              <div class="sidebar-toggler"> </div>
              <!-- END SIDEBAR TOGGLER BUTTON -->
            </li> 

            <li class="nav-item start marginnav" style="padding-bottom:10px;">
              <a href="User_List.html" class="nav-link nav-toggle">
                <i class="fa fa-user"></i>
                <span class="title">User</span>
                <span class="selected"></span>
              </a>  
            </li>
                  
            <li class="nav-item" style="padding-bottom:10px;">
              <a href="Merchant_List.html" class="nav-link nav-toggle">
                <i class="fa fa-user"></i>
                <span class="title">Merchant</span>           
              </a>
            </li>

            <li class="nav-item" style="padding-bottom:10px;">
              <a href="Category_List.html" class="nav-link nav-toggle">
                <i class="fa fa-clone"></i>
                <span class="title">Category</span>
              </a>
            </li>

            <li class="nav-item" style="padding-bottom:10px;">
              <a href="Offer_List.html" class="nav-link nav-toggle">
                <i class="fa fa-clone"></i>
                <span class="title">Offer</span>   
              </a>         
            </li>

            <li class="nav-item" style="padding-bottom:10px;">
              <a href="Promo_List.html" class="nav-link nav-toggle">
                <i class="fa fa-clone"></i>
                <span class="title">Promocode</span>
              </a>    
            </li>

            <li class="nav-item" style="padding-bottom:10px;">
              <a href="Report_View.html" class="nav-link nav-toggle">
                <i class="fa fa-clone"></i>
                <span class="title">Report</span>
              </a>
            </li>

            <li class="nav-item" style="padding-bottom:10px;">
              <a href="Notification.html" class="nav-link nav-toggle">
                <i class="fa fa-clone"></i>
                <span class="title">Notification</span>
              </a>
            </li> 
          </ul>
            <!-- END SIDEBAR MENU -->
        </div>      
      </aside>