<!-- NAVIGATION -->
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="#">Burger - The Tastiest API Tool</a>
    </div>
</nav>

<!-- MAIN CONTENT -->
<div class="container">
    <div ui-view></div>
</div>