<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Burger</title>

    <!-- CSS (load bootstrap) -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style>
        .navbar {
            border-radius: 0;
        }
    </style>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="app/scripts/app.js"></script>

    <script src="app/scripts/config/routes.js"></script>
    <script src="app/scripts/config/environment/connections.js"></script>
    <script src="app/scripts/config/environment/environment.js"></script>
    <script src="app/scripts/config/api/api.js"></script>

<!--    <link rel="stylesheet" href="assets/login/login.css">-->
    <!--<link rel="stylesheet" href="assets/table/borderless.table.css">-->

</head>

<body ng-app="app">

    <%-body%>

</body>
<script src="app/scripts/login/services/login.service.js"></script>
<script src="app/scripts/login/controllers/login.controller.js"></script>

</html>