<section class="container">
    <div class="centerdiv">
        <section class="center-section">
            <section class="company-logo">
                <img src="assets/images/comp-logo.png" alt="login-logo" class="img-large" width="80%;" height="70px;" />
                <img src="assets/images/comp-logo-less.png" alt="login-logo" class="img-mobile" width="80%" height="50px" />
            </section>
            <form class="login-form" name="resetPasswordForm" id="resetPasswordForm" ng-submit="vm.resetPassword(password)" novalidate>
                <div class="form-group" ng-class="{'has-error' : resetPasswordForm.password.$invalid && !resetPasswordForm.password.$pristine}">
                    <div class="input-group">
                        <input type="password" class="form-control input-circle" id="password" name="password" style="margin-bottom:10px;" size="100" placeholder="Enter New Password" ng-model="password" ng-minlength="6" required>
                        <div class="help-block text-danger" ng-if="resetPasswordForm.password.$invalid && !resetPasswordForm.password.$pristine" ng-messages="resetPasswordForm.password.$error">
                            <div ng-message="required">Password is required.</div>
                            <div ng-message="minlength">Password must be of 6 characters.</div>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : resetPasswordForm.confirmPassword.$invalid && !resetPasswordForm.confirmPassword.$pristine}">
                    <div class="input-group">
                        <input type="password" class="form-control input-circle" id="confirmPassword" name="confirmPassword" size="100" placeholder="Confirm Password" password-match="password" ng-model="confirmPassword" required>
                        <div class="help-block text-danger" ng-if="resetPasswordForm.confirmPassword.$invalid && !resetPasswordForm.confirmPassword.$pristine" ng-messages="resetPasswordForm.confirmPassword.$error">
                            <div ng-message="compareTo">Password must match.</div>
                            <div ng-message="required">Re-enter Password.</div>
                        </div>
                    </div>
                </div>
                <div class="form-actions" style="margin-left:35%; margin-top:10px;">
                    <button type="submit" class="btn button-color halfwidthbtn" ng-disabled="resetPasswordForm.$invalid">Reset</button>
                </div>
            </form>
        </section>
    </div>
</section>
