
	<section class="container">
		<div class="centerdiv">
			<section class="center-section">
				<section class="company-logo">
						<img src="images/comp-logo.png" alt="login-logo"  class="img-large" width="80%" height="70px" />
						<img src="images/comp-logo-less.png" alt="login-logo" class="img-mobile" width="80%" height="50px" />
					</section>
				<form class="login-form" action="" method="">
		
					<div class="form-group">
						<div class="input-group">	
							<input type="password" class="form-control input-circle" id="newpassword" name="newpassword" style="margin-bottom:10px;" size="100" placeholder="Enter New Password"> 
							<input type="password" class="form-control input-circle" id="retype-password" name="retype-password" size="100" placeholder="Confirm Password"> 
						</div>
					</div>

					<div class="form-actions" style="margin-left:35%;margin-top:10px;">
						<a type="submit" href="Login.html" class="btn button-color halfwidthbtn">Reset</a>					
					</div>

				</form>


			</section>
			<footer class="copyrightcenter">
				
			</footer>
		</div>		
	</section>

