<section class="container">
    <div class="centerdiv">
        <section class="center-section">
            <section class="company-logo">
                <img src="assets/images/comp-logo.png" alt="login-logo" class="img-large" width="80%" height="70px;" />
                <img src="assets/images/comp-logo-less.png" alt="login-logo" class="img-mobile" width="80%" height="50px" />
            </section>
            <form class="forgotpassword-form" name="forgotPasswordForm" id="forgotPasswordForm" ng-submit="vm.forgetPassword(email)" novalidate>
                <div class="form-group" ng-class="{ 'has-error' : forgotPasswordForm.email.$invalid && !forgotPasswordForm.email.$pristine }">
                    <div class="input-group">
                        <span class="input-group-addon input-circle-left">
                                    <i class="fa fa-envelope"></i>
                                </span>
                        <input type="email" class="form-control input-circle-right" id="email" name="email" placeholder="Email Address" ng-model="email" required>
                        <div class="help-block text-danger" ng-if="forgotPasswordForm.email.$invalid && !forgotPasswordForm.email.$pristine" ng-messages="forgotPasswordForm.email.$error">
                            <div ng-message="required">Please enter your valid email</div>
                        </div>
                    </div>
                </div>
                <div class="form-actions" style="margin-left:32%;margin-top:10px;">
                    <button type="submit" class="btn button-color halfwidthbtn forgotpass" ng-disabled="forgotPasswordForm.$invalid">Submit</button>
                </div>
            </form>
        </section>
    </div>
</section>
