<section class="container">
    <div class="centerdiv">
        <section class="center-section">
            <section class="company-logo col-xs-12">
                <img src="assets/images/comp-logo.png" alt="login-logo" class="img-large" width="80%" height="70px" />
                <img src="assets/images/comp-logo-less.png" alt="login-logo" class="img-mobile" width="80%" height="50px;" />
            </section>
            <form class="login-form" ng-submit="vm.login(user)" name="loginForm" novalidate>
                <div class="form-group" ng-class="{'has-error': loginForm.email.$invalid && !loginForm.email.$pristine}">
                    <div class="input-group">
                        <span class="input-group-addon input-circle-left">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <input type="email" class="form-control input-circle-right" id="email" name="email" placeholder="Email" ng-model="user.email" required ng-pattern="/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/">
                        <div class="help-block text-danger" ng-if="loginForm.email.$invalid && !loginForm.email.$pristine" role="alert" ng-messages="loginForm.email.$error" role="alert">
                            <div ng-message="pattern">Email is required.</div>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': loginForm.password.$invalid && !loginForm.password.$pristine}">
                    <div class="input-group">
                        <span class="input-group-addon input-circle-left">
                            <i class="fa fa-key"></i>
                        </span>
                        <input type="password" class="form-control input-circle-right" id="password" name="password" size="100" placeholder="Password" ng-model="user.password" required>
                        <div class="help-block text-danger" ng-if="!loginForm.password.$pristine && loginForm.password.$invalid" ng-messages="loginForm.password.$error" role="alert">
                            <div ng-message="required">Password is required.</div>
                        </div>
                    </div>
                </div>
                <div class="pull-right"><a ui-sref="forgetPassword"> Forgot Password? </a></div>
                <br>
                <div class="form-actions" style="margin-left:35%;margin-top:10px;">
                    <button type="submit" class="btn button-color halfwidthbtn loginpass" ng-disabled="loginForm.$invalid">Login</button>
                </div>
            </form>
        </section>
    </div>
</section>
