<div class="page-content" style="min-height:785px">
    <div class="row">
        <section class="col-md-10 margincontent">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <section class="portlet light bordered portletcustom" style="padding:0;">
                <section class="portlet-title">
                    <div class="caption font-dark" style="padding-left:20px;padding-top:15px;">
                        <span class="caption-subject bold uppercase"> Promo List</span>
                    </div>
                </section>
                <section class="portlet-body">
                    <section class="table-toolbar">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group" style="padding-left:30px;">
                                    <a class="btn sbold green" ui-sref="addPromocode"> Add New Promocode <i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="dataTables_wrapper no-footer">
                        <div class="table-scrollable">
                            <table datatable="ng" class="table table-striped table-bordered table-hover order-column dataTable no-footer" width="100%">
                                <col style="width:10%">
                                <col style="width:15%">
                                <col style="width:5%">
                                <col style="width:18%">
                                <col style="width:18%">
                                <col style="width:18%">
                                <col style="width:15%">
                                <col style="width:1%">
                                <col style="width:1%">
                                <col style="width:1%">
                                <col style="width:1%">
                                <thead>
                                    <tr role="row">
                                        <th tabindex="0" aria-controls="sample_1" aria-label="activate to sort column ascending">Promocode </th>
                                        <th class="sorting" tabindex="0" aria-controls="sample_1" aria-label="  activate to sort column ascending"> Merchant Name
                                        </th>
                                        <th tabindex="0" aria-controls="sample_1" aria-label="activate to sort column ascending"> Offer/Discount </th>
                                        <th tabindex="0" aria-controls="sample_1" aria-sort="ascending" aria-label="activate to sort column descending">Max Limit</th>
                                        <th tabindex="0" aria-controls="sample_1" aria-label=" activate to sort column ascending"> Valid-From </th>
                                        <th tabindex="0" aria-controls="sample_1" aria-label=" activate to sort column ascending"> Valid-To </th>
                                        <th tabindex="0" aria-controls="sample_1" aria-label=" activate to sort column ascending"> Description </th>
                                        <th class="promo" tabindex="0" aria-controls="sample_1" aria-label="activate to sort column ascending"> Percentage By Batua </th>
                                        <th class="promo" tabindex="0" aria-controls="sample_1" aria-label="activate to sort column ascending"> Percentage By Merchant</th>
                                        <th class="status" tabindex="0" aria-controls="sample_1" aria-label="  activate to sort column ascending"> Status </th>
                                        <th class="action" tabindex="0" aria-controls="sample_1" aria-label="  activate to sort column ascending"> Action </th>
                                    </tr>
                                </thead>
                                <tbody class="datatablecustom">
                                    <tr class="gradeX odd" role="row" ng-repeat="promocode in vm.promocodes">
                                        <td>{{promocode.promocode}}</td>
                                        <td>{{promocode.merchants.name}}</td> <!-- get it confirm from backend-->
                                        <td>{{promocode.discountPercentage}}%</td>
                                        <td>{{promocode.maximumAmountLimit |currency : "₹ "}}</td>
                                        <td>{{promocode.validFrom |date : "mediumDate"}}</td>
                                        <td>{{promocode.validTo |date : "mediumDate"}}</td>
                                        <td>{{promocode.description}}</td>
                                        <td>{{promocode.percentageCostBourneByBatua}}%</td>
                                        <td>{{promocode.percentageCostBourneByMerchant}}%</td>
                                        <td>
                                            <select class="form-control input-circle" style="width:180px;" ng-change="vm.setStatus(promocode.id, promocode.status)" ng-model="promocode.status">
                                                <option value="" disabled selected hidden>select status</option>
                                                <option value="Active">Active</option>
                                                <option value="Suspend">Suspend</option>
                                                <option value="Expired">Expired</option>
                                            </select>
                                        </td>
                                        <td>
                                            <a type="button" class="btn button-color-table" ui-sref="editPromocode({promocodeId: promocode.id})"><i class="fa fa-pencil"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </section>
            <!-- END EXAMPLE TABLE PORTLET-->
        </section>
    </div>
</div>